<html>
<style>
    .container {
  padding: 16px;
}
</style>
<head>
    <title>
        tweets
    </title>
</head>

<body>
    <div class="container">
        {% for object in qs %}
        Tweets :<p id="twt">{{object.text }}</p><br>
        Author :<p id="author">{{object.author}}</p>
        {% endfor %}
        <form action="." method="POST">
            <div class="container">
                {% csrf_token %}
                Tweet :<input type="text" name="tweet">
                <input type="submit" value="submit" />
            </div>

        </form>
        {% if user.is_authenticated %}
        <p>Logged in User : {{user.username}}</p>
        <button><a href="/logout">Logout</a></button>
        {% else %}
        <button><a href="/login">Login</a></button>
        {% endif %}
</body>

</html>