<html>
    <head>
        <title>
            tweets
        </title>
    </head>
    <body>
        
        {% for object in qs %}
        Tweets :<p id="twt">{{object.text }}</p><br>
        Author :<p id="author">{{object.author}}</p>
        {% endfor %}
        <form action = "." method = "POST">
            {% csrf_token %}
            Tweet :<input type="text" name="tweet">
            <input type="submit" value="submit"/>
        </form>
        {% if user.is_authenticated %}
        <p>Logged in User : {{user.username}}</p>
        {% endif %}
        <button><a href="/logout">Logout</a></button>
    </body>
</html>